<div class="table-responsive">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100 table table-striped table-hover">

    <!-- Nombre -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >
        <mat-icon class="me-1">swap_vert</mat-icon> Nombre
      </th>
      <td mat-cell *matCellDef="let product">{{ product.name }}</td>
    </ng-container>


    <!-- Categoría -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoría</th>
      <td mat-cell *matCellDef="let product">
        <span>{{ getCategoryName(product.category) }}</span>
      </td>
    </ng-container>

    <!-- Precio -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
      <td mat-cell *matCellDef="let product">{{ product.price | currency }}</td>
    </ng-container>

    <!-- Calificación -->
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rating</th>
      <td mat-cell *matCellDef="let product">
        <span class="text-warning">
          <i class="fas fa-star" *ngFor="let _ of getStarsArray(product.rating)"></i>
          <i class="far fa-star" *ngFor="let _ of getEmptyStarsArray(product.rating)"></i>
        </span>
        <small class="text-muted">({{ product.rating }})</small>
      </td>
    </ng-container>

    <!-- Stock -->
    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock</th>
      <td mat-cell *matCellDef="let product">{{ product.stock || 'N/A' }}</td>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let product">
        <button mat-icon-button color="primary" (click)="edit.emit(product)" matTooltip="Editar">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(product.id!)" matTooltip="Eliminar">
          <mat-icon>delete</mat-icon>
        </button>


      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>