.btn-check:checked + label.btn-outline-primary {
  background-color: #374151;
  border-color: #374151;
  color: white;
  box-shadow: 0 0 8px rgba(55, 65, 81, 0.5);
  border-radius: 0.5rem;
}
.btn-outline-primary {
  color: #374151;
  border-color: #374151;
  border-radius: 0.5rem;
  transition: all 0.3s;
}
.btn-outline-primary:hover {
  background-color: #4B5563;
  border-color: #4B5563;
  color: white;
}

button.btn-info {
  background-color: #06B6D4;
  border-color: #06B6D4;
  color: white;
  border-radius: 0.5rem;
  transition: all 0.3s;
}
button.btn-info:hover {
  background-color: #22D3EE;
  border-color: #22D3EE;
  box-shadow: 0 0 10px rgba(6, 182, 212, 0.5);
}

button.btn-primary {
  background-color: #10B981;
  border-color: #10B981;
  color: white;
  border-radius: 0.5rem;
  transition: all 0.3s;
}
button.btn-primary:hover {
  background-color: #34D399;
  border-color: #34D399;
  box-shadow: 0 0 10px rgba(16, 185, 129, 0.5);
}
